
@media (min-width: 410px) {
    .services-container {
        .service {
            .service-text {
                font-size: 14px;
            }

            .service-icon-container {
                transform: translateX(+190%);
                flex-basis: 20%;
            }

            .active-icon {
                transform: translateX(0);
            }
        }
    }

    .price-list {
        .list-btn {
            font-size: 18px;
        }

        .list {
            left: -40%;
            right: -40%;
            bottom: 80px;
        }

        .on {
            display: block;
        }
    }

    .contacts {
        .contacts-container {
            .contact {
                .contact-text {
                    font-size: 18px;
                }

                .fas,
                .fab {
                    font-size: 30px;
                }
            }

            .form-text {
                font-size: 20px;
            }

            .contact-form {
                width: 80%;

                input {
                    min-width: 210px;
                }

                textarea {
                    min-width: 240px;
                }
            }
        }
    }
}

@media (min-width: 500px) {
    .services-container {
        .service {
            flex-basis: 50%;

            .service-icon-container {
                flex-basis: 45%;
                transform: translateX(+100%);
            }

            .service-text {
                text-align: center;
            }

            .active-text {
                transform: translateX(0);
            }

            .active-icon {
                transform: translateX(0);
            }
        }

    }

    .service:nth-child(odd) {
        .service-icon-container {
            transform: translateX(+100%);
        }

        .service-text {
            padding: 0 0 0 15px;
            transform: translateX(-200%);
        }

        .active-icon {
            transform: translateX(+190%);
        }

        .active-text {
            transform: translateX(-65%);
            text-align: center;
        }
    }

}

@media(min-width: 768px) {
    .banner {
        .banner-title {
            font-size: 34px;
        }
    }

    .title {
        font-size: 30px;
    }

    .services-container {
        .service {
            .service-text {
                font-size: 16px;
            }
        }
    }

    .price-list {
        width: 320px;

        .list-btn {
            font-size: 20px;
            line-height: 40px;
        }
    }
}

@media(min-width: 870px) {
    .services-container {
        .service {
            flex-basis: 50%;

            .service-text {
                text-align: center;
            }

            .active-text {
                transform: translateX(0);
            }

            .active-icon {
                transform: translateX(0);
            }
        }
    }

    .service:nth-child(odd) {
        .active-icon {
            transform: translateX(+220%);
        }

        .active-text {
            transform: translateX(-55%);
        }
    }

}

@media(min-width: 925px) {
    .service:nth-child(odd) {
        .active-icon {
            transform: translateX(+245%);
        }

        .active-text {
            transform: translateX(-50%);
        }
    }
}

@media(min-width: 1000px) {
    .service:nth-child(odd) {
        .service-icon-container {
            transform: translateX(+200%);
        }

        .active-icon {
            transform: translateX(+300%);
        }

        .active-text {
            transform: translateX(-40%);
        }
    }
}

@media(min-width: 1200px) {
    .banner {
        .banner-title {
            font-size: 38px;
        }
    }

    .service:nth-child(odd) {
        .service-icon-container {
            transform: translateX(+190%);
        }

        .active-icon {
            transform: translateX(+290%);
        }

        .active-text {
            transform: translateX(-45%);
        }
    }
}